<h1>Editar Notas</h1>

<%= render "form", university_subject: @university_subject %>

<br>

<div>
  <%= link_to "Show this university subject", @university_subject %> |
  <%= link_to "Back to university subjects", university_subjects_path %>
</div>
