<h1>Notas</h1>

<%= render "form", university_subject: @university_subject %>

<br>

<div>
  <%= link_to "Mostrar Detalhes da Nota", @university_subject %> |
  <%= link_to "Voltar para Notas", university_subjects_path %>
</div>
