<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>RA do Aluno</th>
      <th>Responsável</th>
      <th>Bimestre</th>
      <th>Nota</th>
      <th>Comentário </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="university_subjects">
    <% @university_subjects.each do |university_subject| %>
      <tr></tr>
        <%= render university_subject %>
      <% end %>
  </tbody>
</table>